body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

#popup-content {
    text-align: center;
}

h1 {
    color: #333;
}

#result-message {
    font-weight: bold;
    margin-top: 20px;
}
